*::selection {
    background-color: #393F56 !important;
    color: white !important;
}

body {
    color: white !important;
    background-color: #191B24 !important;
    font-family: cursive;

}

html {
    scroll-behavior: smooth;
}

.main {
    display: grid;
    place-content: center;
    margin-top: 14%;

}

.card {
    background-color: #415A77;
    border-radius: 10px;
    padding: 30px;
    width: 350px;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

.form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.group {
    position: relative;
}

.form .group label {
    font-size: 14px;
    color: rgb(175, 173, 173);
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: #415A77;
    transition: all .3s ease;
}

.form .group input,
.form .group textarea {
    padding: 10px;
    color :white;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    outline: 0;
    width: 100%;
    background-color: transparent;
}

.form .group input:placeholder-shown+label, .form .group textarea:placeholder-shown+label {
    top: 10px;
    background-color: #415A77;
}
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
/* input:-internal-autofill-selected{
    background-color: #415A77;
} */
.form .group input:focus,
.form .group textarea:focus {
    border-color: #ffffff;
}

.form .group input:focus+label, .form .group textarea:focus+label {
    top: -10px;
    left: 10px;
    background-color: #415A77;
    color: #ffffff;
    font-weight: 600;
    font-size: 14px;
}

.form .group textarea {
    resize: none;
    height: 100px;
}

button {
    position: relative;
    margin: 0;
    padding: 0.4em 1em;
    outline: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    background-color: #1B263B;
    border-radius: 10px;
    color: #fff;
    font-weight: 300;
    font-size: 16px;
    font-family: inherit;
    z-index: 0;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}

button:hover {
    animation: sh0 0.5s ease-in-out both;
}

@keyframes sh0 {
    0% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }

    25% {
        transform: rotate(7deg) translate3d(0, 0, 0);
    }

    50% {
        transform: rotate(-7deg) translate3d(0, 0, 0);
    }

    75% {
        transform: rotate(1deg) translate3d(0, 0, 0);
    }

    100% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
}

button:hover span {
    animation: storm 0.7s ease-in-out both;
    animation-delay: 0.06s;
}

button::before,
button::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #778DA9;
    opacity: 0;
    transition: transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
    z-index: -1;
    transform: translate(100%, -25%) translate3d(0, 0, 0);
}

button:hover::before,
button:hover::after {
    opacity: 0.15;
    transition: transform 0.2s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
}

button:hover::before {
    transform: translate3d(50%, 0, 0) scale(0.9);
}

button:hover::after {
    transform: translate(50%, 0) scale(1.1);
}